@charset "utf-8";
/*
Template Name: RS-5 Clean
Author: <a href="http://www.os-templates.com/">OS Templates</a>
Author URI: http://www.os-templates.com/
Licence: Free to use under our free template licence terms
Licence URI: http://www.os-templates.com/template-terms
File: Forms CSS
*/

form, fieldset, legend{margin:0; padding:0; border:none;}
legend{display:none;}
input, textarea, select{font-size:1em; font-family:Georgia,"Times New Roman",Times,serif;}

/* ----------------------------------------------Forms in Content Area------------------------------------- */

#comments form{display:block; width:100%;}
#comments form input{width:26.98412%; padding:2px; border:1px solid #CCCCCC; margin:5px 5px 0 0;}
#comments form textarea{width:98%; border:1px solid #CCCCCC; padding:2px; overflow:auto;}
#comments form p{margin:5px 0;}
#comments form #submit, #comments form #reset{margin:0; padding:5px; color:#666666; background-color:#F7F7F7; cursor:pointer;}

/* ----------------------------------------------Contact Form in Footer------------------------------------ */

#footer label{display:none;}
#footer input, #footer textarea{display:block; width:91%; margin:0 0 10px 0; border:none;}
#footer input, #footer textarea, #footer select{color:#989898; background-color:#EFEFEF;}
#footer input{padding:10px;}
#footer textarea{height:60px; padding:10px; overflow:auto;}
#footer button{padding:8px; font-size:.9em; font-weight:bold; text-transform:uppercase; color:#82A1A6; background-color:#EFEFEF; border:none; cursor:pointer;}